<center>

<h1><br>Welcome to the Biddy</h1>
<h4>Home of reverse auctioning</h4>
<br/>

<div>
  <img src="https://yieldbird.com/wp-content/uploads/2020/05/0312-header-bidding-art-2-01-V1.png"height="500">
</div>

<br/>

<h3><br>Please select from the list </h3>
<br/>
<div class="dropdown">
  <a class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    My business today
  </a>
  </br>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="/products">Look at products</a></li>
    <li><a class="dropdown-item" href="/bids">Look at bids</a></li>


  </ul>
</div>
